/*共有样式*/
*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
img{
    border: 0;
}
ul,ol{
    list-style: none;
}
input{
    outline: none;
}
/*   */
#nav{
    height: 84px;
    background-color: white;
}
.wrap{
    /*height: 84px;*/
    width: 950px;
    margin: 0 auto;
    position: relative;
   /*background-color: darkgoldenrod;*/
}
#logo{
    position: absolute;
    top: 50%;
    margin-top: -15px;
}
#search-box{
    position: absolute;
    top: 50%;
    margin-top: -15px;
    left: 180px;
    border: 1px solid #C3C3C3;
}
#ipt-search{
    width: 240px;
    height: 20px;
    margin: 0;
    padding: 5px;
    float: left;
    border: 0;
}
#btn-search{
    width: 30px;
    height: 30px;
    border: 0;
    background: url("../img/btn_search_bg.png") no-repeat center center;
    float: left;
}
#nav-menu {
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -10px;
}
#nav-menu li{
    display: inline-block;
    /*float: left;*/
}
#nav-menu a{
    display: block;
    width: 40px;
    height: 20px;
    background: url("../img/nav-menu.png") no-repeat;
    text-indent: -99999px;
    margin-left: 12px;
}
#nav-menu .reading{
    background-position: 0 0;
}
#nav-menu .movie{
    background-position: -60px 0;
}
#nav-menu .music{
    background-position: -120px 0;
}
#nav-menu .group{
    background-position: -180px 0;
}
#nav-menu .city{
    background-position: -240px 0;
}
#nav-menu .fm{
    background-position: -300px 0;
}
#nav-menu .dongxi{
    background-position: -360px 0;
 }
#nav-menu .jishi{
      background-position: -420px 0;
}
.tu{
    width: 200px;
    height: 200px;
    background-color: gray;
    margin: 0;
    /*text-align: center;*/
}
